
  <h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
<div>
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="abc@example.com" formControlName="email" >
        </mat-form-field>

    <br>
        <mat-form-field appearance="outline">
            <mat-label>Enter Password</mat-label>
            <input matInput formControlName="password" >
        </mat-form-field>
</div>
<div>
  <button 
  mat-raised-button 
  [ngStyle]="{'background-color': '#129c00','color': '#fff'}" >Login</button>
</div>
</form>