<mat-card>
    <mat-card-content *ngIf="project">
        <mat-card-title>{{project.projectName | titlecase}}</mat-card-title>
        <mat-card-subtitle>Categroy : {{project.projectCategory}}</mat-card-subtitle>
        <mat-card-subtitle>Budget:</mat-card-subtitle>
        <mat-card-title>{{project.budget | currency:'Rs.'}}</mat-card-title>
        <mat-card-subtitle>Duration</mat-card-subtitle>
        <mat-card-title>{{project.duration}}</mat-card-title>
        <mat-card-subtitle>Description :</mat-card-subtitle>
        <h2>{{project.details}}</h2>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="apply-button" [routerLink]="['/apply']" routerLinkActive="router-link-active" >Apply for project</button>
        <!-- <button mat-button>actionTwo</button> -->
        </mat-card-actions>
</mat-card>
