<div class="form-group">
    <div class="col-form-group">
        <h2>Project Form</h2>
<form [formGroup]="projectForm" (ngSubmit)="addProject(projectForm)" class="form-control">
<p>
    <mat-form-field appearance="outline">
      <mat-label>Project Name</mat-label>
      <input matInput placeholder="Enter Project Name" type="text" formControlName="projectName">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint></mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Budget</mat-label>
      <input matInput placeholder="Enter budget" type="text" formControlName="budget">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>in .Rs/-</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <input matInput placeholder="Enter duartion" type="text"  formControlName="duration">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>(hrs,days,weeks,months)</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Project Category</mat-label>
      <mat-select  formControlName="projectCategory">
        <mat-option *ngFor = "let category of categories" value="{{category.categoryType}}">{{category.categoryType | titlecase}}</mat-option>
        
      </mat-select>
      <mat-hint>only one category</mat-hint>
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="outline">
        <mat-label>Details : </mat-label>
        <textarea matInput placeholder="Enter Here" formControlName="details"></textarea>
    </mat-form-field>
</p>
<span class="mat-filler">
    <button mat-raised-button [ngStyle]="{'background-color': '#08d123' ,'color':'#fff'}">Add Project</button>
</span>
</form>
    </div>
</div>

<!-- (click)="addProject(projectForm)" -->